<mat-sidenav-container fullscreen>

    <mat-sidenav mode="side" #sidenav closed position="start">
        <!-- 
            <div class="sidebar">
                <div class="infoPerfil">
                    <img src="../../../assets/img/nene.png" class="imagenPerfil">
                </div>

                <div>
                    <mat-card class="mat-elevation-z8">
                        <mat-card-content>
                            <mat-card-title class="perfilTitulo">Información del Alumno</mat-card-title>
                            <div class="perfilEstilo">
                                <p></p>
                                <p></p>
                                <p><b>Nombre:</b> Josesito</p>
                                <p><b>Apellido:</b> Deodo</p>
                                <p><b>Edad:</b> 6 años</p>
                                <p><b>Año Cursado:</b> 1ª Grado</p>
                                <p></p>
                            </div>


                        </mat-card-content>
                    </mat-card>

                </div>
                <p></p>
                <p></p>
                <p></p>
                <div>
                    <mat-card class="mat-elevation-z8">
                        <mat-card-content>
                            <mat-card-title>
                                <h2>Notificaciones</h2>
                            </mat-card-title>
                            <div class="perfilEstilo">
                                <p></p>
                                <p></p>

                                <button class="boton" mat-raised-button color="primary" style="margin: 5px" matBadge="" matBadgePosition="before" matBadgeColor="accent">
                    <mat-icon>email</mat-icon>
                </button>

                                <button class="boton" mat-raised-button color="primary" style="margin: 5px" matBadge="" matBadgePosition="before" matBadgeColor="accent">
                     <mat-icon>calendar_today</mat-icon>
                </button>

                                <button class="boton" mat-raised-button color="primary" style="margin: 5px" matBadge="" matBadgePosition="before" matBadgeColor="accent">
                     <mat-icon>settings</mat-icon>
                </button>

                            </div>

                        </mat-card-content>
                    </mat-card>

                </div>

            </div> -->

    </mat-sidenav>



    <mat-sidenav-content>





        <!-- <mat-toolbar class="barraSuperior"> -->
        <!-- <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                  </button>
                <span class="toolbar-spacer">COLEGIO KENNEDY</span>
                <button class="btn btn-royalblue">
                    <a><mat-icon>share</mat-icon></a>           
                  </button> -->
        <!-- </mat-toolbar> -->
        <div class="todo" style="    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
        ">

            <app-cabecerados>

            </app-cabecerados>

            <h4 class="letracursada">CURSADAS- CICLO 2020</h4>
            <div class="main-content">


                <!-- <mat-toolbar style="background-color:#fff"> -->
                <!-- <span class="titulo"> CURSADAS - CICLO 2020</span> -->
                <!-- </mat-toolbar> -->


                <div class="content" ng-class="{show: show}" fxLayout="row wrap" fxLayoutGap="16px grid">
                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                        <mat-card class="materias">
                            <mat-card-header>
                                <img mat-card-avatar src="../../../assets/img/profe7edit.jpg">
                                <mat-card-title>Matematicas</mat-card-title>
                                <mat-card-subtitle>1° grado</mat-card-subtitle>
                            </mat-card-header>

                            <img mat-card-image src="../../../assets/img/Matematicas.jpg">
                            <mat-card-content>
                                <p>
                                    <b>hola</b>
                                </p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button (click)="vercontenido()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                                <button (click)="subircontenidos()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                        <mat-card class="materias">
                            <mat-card-header>
                                <img mat-card-avatar src="../../../assets/img/profe7edit.jpg">
                                <mat-card-title>Practicas del Lenguaje</mat-card-title>
                                <mat-card-subtitle>1° grado</mat-card-subtitle>
                            </mat-card-header>

                            <img mat-card-image src="../../../assets/img/pdl.png">
                            <mat-card-content>
                                <p>
                                    <b>hola</b>
                                </p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button (click)="vercontenido()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                                <button (click)="subircontenidos()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                        <mat-card class="materias">
                            <mat-card-header>
                                <img mat-card-avatar src="../../../assets/img/profe7edit.jpg">
                                <mat-card-title>Cs Sociales</mat-card-title>
                                <mat-card-subtitle>1° grado</mat-card-subtitle>
                            </mat-card-header>

                            <img mat-card-image src="../../../assets/img/cssociales.jpg">
                            <mat-card-content>
                                <p>
                                    <b>hola</b>
                                </p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button (click)="vercontenido()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                                <button (click)="subircontenidos()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                        <mat-card class="materias">
                            <mat-card-header>
                                <img mat-card-avatar src="../../../assets/img/profe7edit.jpg">
                                <mat-card-title>Cs Naturales</mat-card-title>
                                <mat-card-subtitle>1° grado</mat-card-subtitle>
                            </mat-card-header>

                            <img mat-card-image src="../../../assets/img/csnaturales.jpg">
                            <mat-card-content>
                                <p>
                                    <b>hola</b>
                                </p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button (click)="vercontenido()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                                <button (click)="subircontenidos()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                        <mat-card class="materias">
                            <mat-card-header>
                                <img mat-card-avatar src="../../../assets/img/profe7edit.jpg">
                                <mat-card-title>Educacion Fisica</mat-card-title>
                                <mat-card-subtitle>1° grado</mat-card-subtitle>
                            </mat-card-header>

                            <img mat-card-image src="../../../assets/img/ef.jpg">
                            <mat-card-content>
                                <p>
                                    <b>hola</b>
                                </p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button (click)="vercontenido()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                                <button (click)="subircontenidos()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                        <mat-card class="materias">
                            <mat-card-header>
                                <img mat-card-avatar src="../../../assets/img/profe7edit.jpg">
                                <mat-card-title>Fisica</mat-card-title>
                                <mat-card-subtitle>1° grado</mat-card-subtitle>
                            </mat-card-header>

                            <img mat-card-image src="../../../assets/img/fisica.jpg">
                            <mat-card-content>
                                <p>
                                    <b>hola</b>
                                </p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button (click)="vercontenido()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                                <button (click)="subircontenidos()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
                        <mat-card class="materias">
                            <mat-card-header>
                                <img mat-card-avatar src="../../../assets/img/profe7edit.jpg">
                                <mat-card-title>Ingles</mat-card-title>
                                <mat-card-subtitle>1° grado</mat-card-subtitle>
                            </mat-card-header>

                            <img mat-card-image src="../../../assets/img/Ingles.jpg">
                            <mat-card-content>
                                <p>
                                    <b>hola</b>
                                </p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button (click)="vercontenido()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                                <button (click)="subircontenidos()" style="background-color: #EEB391;" class="btn btn-primary">AGREGAR CONTENIDO</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                </div>




            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>