<header class="masthead">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <!-- <img (click)="inicio()" src="assets/img/logo.png"> -->
            <img src="assets/img/logo.png">
            <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Inicio</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="display: flex;">
        <div style="margin-top: 100px; margin-bottom: 150px;" class="col-2 ">
            <a class="twitter-timeline" data-width="232" data-height="350" data-dnt="true" data-theme="dark" href="https://twitter.com/colegiojfk8ied?ref_src=twsrc%5Etfw">Tweets by colegiojfk8ied</a>


        </div>

        <div class="col-4 ">
            <h4>SOBRE NOSOTROS</h4>

            <p></p>
        </div>

        <div class=" col-7 offset-md-2 ">

            <div style="width: 350px; height: 350px; margin-top: 100px; margin-bottom: 150px; background-color: rgba(92, 77, 66, 0.8); border-radius: 2px;">

                <div id="mapa" class="mapa ">




                </div>
                <div>

                </div>

            </div>
        </div>
    </div>

</header>