<header class="masthead">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <!-- <img (click)="inicio()" src="assets/img/logo.png"> -->
            <img src="assets/img/logo.png">
            <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Inicio</a></li>


                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="display: flex;">
        <div style="margin-top: 100px; margin-bottom: 150px;" class="col-2 ">
            <a class="twitter-timeline" data-width="350" data-height="350" data-dnt="true" data-theme="dark" href="https://twitter.com/colegiojfk8ied?ref_src=twsrc%5Etfw">Tweets by colegiojfk8ied</a>


        </div>

        <div style="margin-top: 100px; margin-bottom: 150px; margin-left: 70px; background-color: rgba(187, 100, 37, 0.1); border-radius: 2px;" class="col-6 ">
            <h4 style="text-align: center;"> SOBRE NOSOTROS</h4>

            <br>
            <p class="letralinda">El Colegio Modelo J. F. Kennedy se propone la formación de seres humanos íntegros, de conciencia democrática, comprometidos con el bien común, practicantes de una libertad responsable, capacitados para su desarrollo intelectual, ético y laboral.
            </p>
            <p> Formamos a nuestros estudiantes en la complejidad de las actuales condiciones históricas, sociales, culturales y económicas, cuya articulación con las nuevas tecnologías proveen las bases para el aprendizaje continuo</p>

            <p> En el Kennedy, la riqueza está en las aulas y en su personal, donde todos desarrollan un pensamiento crítico y buscan el saber a través de estrategias de estudio útiles para toda la vida.</p>
        </div>



        <div style="width: 150px; height: 350px; margin-top: 100px; margin-bottom: 150px; margin-right: 50px; margin-left: 50px;" class=" col-6">

            <div id="mapa" class="mapa ">




            </div>
            <div>

            </div>

        </div>

    </div>

</header>