<!--pictures-->
<div id="pictures">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="pictures-box" href="/client/src/assets/img/pictures/fullsize/Imagen1.jpg">
                    <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen1.jpg" alt="" />
                    <!-- <div class="pictures-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="pictures-box" href="/client/src/assets/img/pictures/fullsize/Imagen2.jpg">
                    <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen2.jpg" alt="" />
                    <!-- <div class="pictures-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="pictures-box" href="/client/src/assets/img/pictures/fullsize/Imagen3.jpg">
                    <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen3.jpg" alt="" />
                    <!-- <div class="pictures-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="pictures-box" href="/client/src/assets/img/pictures/fullsize/Imagen4.jpg">
                    <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen4.jpg" alt="" />
                    <!-- <div class="pictures-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="pictures-box" href="/client/src/assets/img/pictures/fullsize/Imagen5.jpg">
                    <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen5.jpg" alt="" />
                    <!-- <div class="pictures-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="pictures-box" href="/client/src/assets/img/pictures/fullsize/Imagen6.jpg">
                    <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen6.jpg" alt="" />
                    <!-- <div class="pictures-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div> -->
                </a>
            </div>
        </div>
    </div>
</div>