
<header class="masthead">

    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Bienvenidos al aula virtual del colegio Kennedy
                </h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-10 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5"> Un espacio dentro de una plataforma online en la que los profesores comparten contenido y los alumnos pueden acceder a ellos</p>

            </div>
        </div>
    </div>
</header>

<!--pictures-->
<div id="pictures">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
            <figure>
                <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen1.jpg" alt="" />
                <div class="capa">
                    <h3 class="text-uppercase text-white font-weight-bold">Nivel Primario</h3>
                    <p class="text-white-75 font-weight-light mb-5">Los alumnos asumen el desafío de apropiarse de la lectura y la escritura como herramientas esenciales del progreso cognitivo y del crecimiento personal</p>
                </div>
            </figure>
            </div>
            <div class="col-lg-4 col-sm-6">
            <figure>
                <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen2.jpg" alt="" />
                <div class="capa">
                    <h3 class="text-uppercase text-white font-weight-bold">Nuestra Meta</h3>
                    <p class="text-white-75 font-weight-light mb-5">Formar personas que tengan como lema la cultura del esfuerzo, la dedicación, la superación de sí mismo, la responsabilidad, el respeto y la cortesía
                    </p>
                </div>
            </figure>
            </div>
            <div class="col-lg-4 col-sm-6">
                <figure>
                <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen3.jpg" alt="" />
                <div class="capa">
                    <h3 class="text-uppercase text-white font-weight-bold">Nivel Secundario</h3>
                    <p class="text-white-75 font-weight-light mb-5">Arte, lengua extranjera, deportes e informática complementan la propuesta ofreciendo a los niños valores que fortalecerán sus trayectorias escolares
                    </p>
                </div>
            </figure>
            </div>
            <div class="col-lg-4 col-sm-6">
            <figure>
                <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen4.jpg" alt="" />
                <div class="capa">
                    <h3 class="text-uppercase text-white font-weight-bold">Instalaciones</h3>
                    <p class="text-white-75 font-weight-light mb-5"> Cuanta con 20 aulas, laboratorio, biblioteca, aula de informática, salon de actos, gimnasio con vestuarios y duchas
                    </p>
                </div>
            </figure>
            </div>
            <div class="col-lg-4 col-sm-6">
                <figure>
                <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen5.jpg" alt="" />
                <div class="capa">
                    <h3 class="text-uppercase text-white font-weight-bold">Campo de Deportes</h3>
                    <p class="text-white-75 font-weight-light mb-5">Cancha de tenis, dos canchas de padle, dos canchas de fútbol 7 y una cancha de fútbol 9. También posee un SUM cubierto de usos múltiples
                    </p>
                </div>
            </figure>
            </div>
            <div class="col-lg-4 col-sm-6">
            <figure>
                <img class="img-fluid" src="assets/img/pictures/thumbnails/Imagen6.jpg" alt="" />
                <div class="capa">
                    <h3 class="text-uppercase text-white font-weight-bold">Proyecto Educativo</h3>
                    <p class="text-white-75 font-weight-light mb-5">El nivel primario y secundario se basan en los pilares del compromiso, la sencillez, el trabajo y la excelencia
                    </p>
                </div>
            </figure>
            </div>
        </div>
    </div>
</div>

<!-- Contact-->

<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Contactenos!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">¿Listo para comenzar tus clases virtual con nosotros?¡Llámanos o envíanos un correo electrónico y nos comunicaremos contigo lo antes posible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <div><img src="../../../assets/img/telefono.png" width="90px" ></div>
                <!-- <i class="fas fa-phone fa-3x mb-3 text-muted"></i> -->
                <div> (221) 123-4567</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <div><img src="../../../assets/img/carta.png" width="90px" ></div>
                <!-- <i class="fas fa-envelope fa-3x mb-3 text-muted"></i> -->
                <a class="d-block" href="mailto:JFKennedy@gmail.com">JFKennedy@gmail.com</a>
            </div>
        </div>
    </div>
</section>