<header class="masthead">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <img (click)="inicio()" src="assets/img/logo.png">

            <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Inicio</a></li>

                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/mostrarasignaturas">Ver todos</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/administrador">Atrás</a></li>


                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="display: flex;">
        <div style="margin-top: 150px ; background-color: rgba(255,255,255,0.6); border-radius: 5px;" class=" col-4 offset-md-2">

            <div class="card-body">

               

                <div class="form-group">Nombre de la asignatura
                    <input type="text" name="materia" [(ngModel)]="materia.nombre" placeholder="Ingrese el nombre la asignatura" class="form-control">

                </div>
                
                <div class="form-group">Año al que pertenece
                    <input type="number" name="anio" [(ngModel)]="materia.idanio" placeholder="Ingrese el año al que pertenece" class="form-control">

                </div>
                <button class="btn btn-success btn-block" (click)="saveNewMateria()">
                        Guardar

                    </button>


            </div>
        </div>



        <div class="col-6 " style="margin-top: 150px;">
            <div class="card card-body text-center" style=" background-color: rgba(255,255,255,0.6); border-radius: 5px;">
               
                <h4>Asignatura
                    <p>{{materia.nombre}}</p>
                </h4>
                <h3>Año al que pertenece
                    <p>{{materia.idanio}}° grado</p>
                </h3>
                
            </div>
        </div>
    </div>
</header>
