<div class="container">
    <div style="margin-top: 250px" class="col-md-4 offset-md-4">
        <div class="card-body">
            <div class="card-body">

                <div class="form-group">ID
                    <input type="number" name="idcontenido" [(ngModel)]="contenido.idcontenido" placeholder="Ingrese el id" class="form-control" autofocus>
    
                </div>
                
                <div class="form-group">Materia:
                    <input type="text" name="materia" [(ngModel)]="contenido.materia" placeholder="Ingrese la materia" class="form-control">
    
                </div>
                <div class="form-group">Descripcion
                    <textarea name="descripcion"  [(ngModel)]="contenido.descripcion" placeholder="Ingrese una descripcion" rows="2" class="form-control"></textarea>
    
                </div>
                <div class="form-group">Link
                    <input type="url" name="link"  [(ngModel)]="contenido.link" placeholder="Ingrese el link" class="form-control">
    
                </div>
                <button class="btn btn-success btn-block" (click)="saveNewContenido()">
                    Guardar

                </button>
    
            </div>
        </div>
    </div>            
    </div>
