<app-cabecera></app-cabecera>
<header class="masthead">

    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <div class="row" style="margin-bottom: 100px;">
                    <div class="col-md-6 mx-auto mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="letralogin">Ingreso Profesor</h3>
                                <br>
                                <br>
                                <!-- <form [formGroup]="loginForm" (ngSubmit)="onLogin()"> -->

                                <div class="form-group">
                                    <img src="assets/img/pictures/thumbnails/loginprofesor.png" height="200px" alt="" />
                                    <br>
                                    <br>
                                    <!-- <label for="email">Email</label> -->
                                    <input type="email" class="form-control" formControlName="email" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <!-- <label for="password">Contraseña</label> -->
                                    <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" />
                                </div>
                                <button (click)="paginaprofesor()" type=" submit " class="btn btn-primary btn-lg btn-block ">Ingresar</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>